.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: url(../../assets/newcarbg.svg) no-repeat center center fixed #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0% 4%;
}
.div1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.div1 > :nth-child(1) {
  color: rgba(179, 179, 179, 1);
  font-size: 18px;
}
.div1 > :nth-child(2) {
  color: rgba(153, 153, 153, 1);
  font-size: 12px;
}
.div2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form1 {
  display: flex;
  flex-direction: column;
}

.sinput {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  width: 100%;
  height: 42px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  border: none;
  margin-top: 16px;
  color: #cccccc;
}
.s1 {
  position: relative;
}
.eye {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8%;
  top: 44.5%;
}
.fg {
  display: flex;
  justify-content: end;
  color: rgba(102, 102, 102, 1);
  text-align: center;
  font-size: 12px;
  margin-top: 6px;
}

.snbutton {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: rgba(0, 122, 255, 1);
  color: rgba(237, 248, 253, 1);
  border: none;
  margin-top: 32px;
}
.desc {
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 6px;
  text-align: left;
}
.tc {
  color: rgba(204, 204, 204, 1);
}
.desc2 {
  margin-top: 32px;
  color: #666;
  text-align: center;
  font-size: 14px;
}
.sup {
  color: rgba(0, 122, 255, 1);
}

/* .container{
    background-image: url(../../assets/carbg.svg);
    width: 100%;
    height: 100vh;
} */
