
.container{
    background: #121212;
    width: 100%;
    min-height:100vh;
    color: #FFFFFF;
    padding: 4% 4%;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div1left{
    display: flex;
    gap: 0.4rem;
}
.div2{
margin-top: 1rem;
position: relative;
}
.carbg{
width: 100%;
}
.pen{
    position: absolute;
    top: 4%;
    right: 2%;
}


.div3{
width: 100%;
}
.line{
display: flex;
justify-content: space-between;
margin-top: 1rem;
margin-bottom: 1rem;
color:rgba(153, 153, 153, 1);
font-size: 14px;
letter-spacing: -0.3px;
position: relative;
width: 100%;
}
.colorchange{
    display: flex;
    align-items: center;
    gap: 12px;
}
.popdown{
    margin-top: 10px;
    border-radius: 9px 9px 0px 0px;
background: #121212;
display: flex;
padding: 2% 2%;
justify-content: space-around;
/* position: absolute;
bottom: 0;  */
width: 100%;
transition-duration: 4s;
-webkit-transition-duration: 2000ms;

/* transition: ease-in;
transition-duration: 1000ms;
transition-duration: 1000ms;
animation: showMe 3s forwards; */
/* transition: all 5s ease-in-out;
animation: popup 0.7s; */
}

@keyframes popup {
  /* 0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.4);
  }
  60%{
    transform: scale(1.1);
  }
  70%{
    transform: scale(1.2);
  }
  80%{
    transform: scale(1);
  } */
  90%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
/* @keyframes showMe{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    } */






