.container{
    display: flex;
    flex-direction: column;
    padding: 2% 2%;
    background: #121212;
    color: var(--g-10, #E6E6E6);
    min-height: 100vh;
    gap: 1rem;
}
.div1{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 0.2rem;
}
.div2{
    display: flex;
    width: 100%;
}
.div2>img{
    width: 100%;
}
.div3{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  
}


.details{
    display: flex;
    padding: 1% 2%;
    align-items: center;
    /* justify-content: space-between; */
   
}
.left{
    width: 45%;
    display: flex;
}
.left>:nth-child(1){
    color: #8D8D8D;


font-size: 14px;

font-weight: 500;

letter-spacing: -0.21px;
}
.middle{
    width: 10%;
}
.right{
    width: 40%;
    text-align: left;
}
.right>:nth-child(1){
    color: #FFF;
font-size: 14px;

font-weight: 500;

letter-spacing: -0.21px;
}
.div4{
    display: flex;
    align-items: center;justify-content: center;
}
.track{
    border: 1px solid #0279FC;
    background: transparent;
    height: 50px;
    width: 96%;
    color: #0279FC;
font-size: 16px;
font-weight: 500;
/* letter-spacing: -0.24px; */

}
/*   */