
.container{
    background: #121212;
    width: 100%;
   min-height:100vh;
    color: #FFFFFF;
    
}
.cc1,.cc2{
padding: 2% 4%;
}
.div1{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 1rem;
}